$color_1: #333;
$color_2: gray;
$color_3: white;
$color_4: #3498db;
$color_5: #fff;
$font-family_1: "Arial", sans-serif;
$background-color_1: #f4f4f4;
$background-color_2: #3498db;
$background-color_3: #2ecc71;
$background-color_4: white;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: $font-family_1;
}
body {
	background-color: $background-color_1;
	color: $color_1;
}
span.navigation {
	font-size: 12px;
	color: $color_2;
	text-transform: uppercase;
}
nav {
	background-color: $background-color_2;
	ul {
		list-style-type: none;
		display: flex;
		justify-content: center;
		li {
			margin: 0 15px;
			a {
				color: $color_3;
				text-decoration: none;
				padding: 15px;
				display: block;
				&:hover {
					background-color: $background-color_3;
					border-radius: 5px;
				}
			}
		}
	}
}
.banner {
	background-color: $background-color_2;
	color: $color_3;
	text-align: center;
	padding: 50px 20px;
	h1 {
		margin: 0;
		font-size: 2.5rem;
	}
	p {
		margin-top: 10px;
		font-size: 1.2rem;
	}
}
.content {
	padding: 20px;
	width: 100%;
	height: calc(100vh - 100px);
	margin: 0 auto;
	h1 {
		color: $color_4;
	}
	form {
		display: flex;
		flex-direction: column;
		label {
			margin-bottom: 5px;
		}
		input {
			margin-bottom: 15px;
			padding: 10px;
			resize: none;
			border: 1px solid #ddd;
			border-radius: 4px;
		}
		textarea {
			margin-bottom: 15px;
			padding: 10px;
			resize: none;
			border: 1px solid #ddd;
			border-radius: 4px;
			height: 150px;
		}
		button {
			background-color: $background-color_2;
			color: $color_3;
			padding: 10px;
			border: none;
			cursor: pointer;
			&:hover {
				background-color: $background-color_3;
			}
		}
	}
}
footer {
	text-align: center;
	padding: 20px;
	background-color: $background-color_2;
	color: $color_3;
	position: relative;
	bottom: 0;
	width: 100%;
}
.cards-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 20px;
	justify-content: center;
	margin-top: 30px;
}
.card {
	background-color: $background-color_4;
	border: 1px solid #ddd;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 300px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transition: transform 0.3s ease-in-out;
	&:hover {
		transform: translateY(-10px);
	}
	img {
		width: 100%;
	}
}
.card-content {
	padding: 15px;
}
.card-button {
	color: $color_5;
	background-color: $background-color_2;
	padding: 10px;
	text-decoration: none;
	border-radius: 5px;
	transition: all .3s ease-in-out;
	&:hover {
		background-color: $background-color_3;
	}
}
@media (max-width: 960px) {
	nav {
		ul {
			flex-direction: column;
			li {
				margin: 10px 0;
			}
		}
	}
	.cards-container {
		flex-direction: column;
		align-items: center;
	}
	.card {
		width: 100%;
	}
	.banner {
		padding: 30px 10px;
		h1 {
			font-size: 2rem;
		}
		p {
			font-size: 1rem;
		}
	}
	.content {
		padding: 10px;
		height: auto;
	}
}
